<div class="container">
  <div class="row justify-content-between">
    <div>
    <h4>マイチーム</h4>
    </div>
    <div>
      <%= render "searches/form" %>
    </div>
  </div>
  <div class="row">
    <%= render "layouts/team_index", teams: @my_teams%>
  </div>
</div>

