<div class="container">
  <div class="row justify-content-between">
    <div>
      <h4>"<%= @content %>"検索結果</h4>
    </div>
    <div>
      <%= render "searches/form" %>
    </div>
  </div>
  <div class="row">
    <%= render "layouts/team_index", teams: @search_teams%>
  </div>
</div>